<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="details">
        <h1>
            <%= post.title %>
        </h1>
        <div class="img-bg">
            <img src="<%= post.imgUrl %>" alt="<%= post.title %>">
        </div>
        <p>
            <%= post.description %>
        </p>
        <hr>
        <div class="ctr-btn">
        <form action="/admin/post/<%= post.id %>" method="post">
            <button class="post-btn">Delete</button>
        </form> <br> <br>
        <a href="/admin/post-edit/<%= post.id %>" class="post-btn edit-btn" >Edit</a>
         </div>
    </section>
</body>
</html> 